/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

/* KEYFRAMES */

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
        transform: rotate3d(0deg);
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-135deg);
    }
    75% {
        transform: rotate(-225deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    25% {
        opacity: .9;
        transform: scale(.90);
    }
    50% {
        opacity: .8;
        transform: scale(.80);
    }
    75% {
        opacity: .9;
        transform: scale(.90);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* GRID STYLING */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.spinner-content {
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.spinner-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: auto;
    animation: pulse 2s linear 0s infinite;
    -webkit-animation: pulse 2s linear 0s infinite;
}

/* SOLAR SYSTEM */

.solar-system {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffffa5;
    border-radius: 50%;
}

.earth-orbit {
    width: 165px;
    height: 165px;
    animation: spin 12s linear 0s infinite;
    -webkit-animation: spin 12s linear 0s infinite;
}

.venus-orbit {
    width: 120px;
    height: 120px;
    animation: spin 7.4s linear 0s infinite;
    -webkit-animation: spin 7.4s linear 0s infinite;
}

.mercury-orbit {
    width: 90px;
    height: 90px;
    animation: spin 3s linear 0s infinite;
    -webkit-animation: spin 3s linear 0s infinite;
}

.planet {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3ff9dc;
}

.sun {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffab91;
}

.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #91daffa5;
    animation: spin3D 3s linear .2s infinite;
    -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #91ffbfa5;
    animation: spin3D 2s linear 0s infinite;
    -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid #ffca91a5;
    animation: spin3D 1s linear 0s infinite;
    -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    animation: spin3D 10s linear 0s infinite;
    -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg)
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg)
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg)
}

/* HEADER */
header {
    text-align: center;
}

header h1 {
    font-family: 'Kumar One', cursive;
}

@media screen and (max-width: 940px) {
    header h1 {
        margin-bottom: 0;
    }
}

/* MAIN */

main {
    text-align: center;
}

@media screen and (max-width: 940px) {
    main {
        height: 100vh;
    }
}

main .content {
    padding: 20px 70px;
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-height: 100vh;
}

@media screen and (max-width: 940px) {
    main .content {
        padding: 0 10px;
        text-align: center;
    }
}

main .content img {
    width: 300px;
    display: inline-block;
}

@media screen and (max-width: 940px) {
    main .content img {
        width: 150px;
        display: inline-block;
    }
}

main .content .whether-info {
    display: inline-block;
    width: calc(100% - 300px);
    margin: 0 -2px;
}

@media screen and (max-width: 940px) {
    main .content .whether-info {
        display: inline-block;
        width: 100%;
    }

    main .content .whether-info p {
        margin: 10px 0;
    }
}

main .whether-info {
    display: inline-block;
    vertical-align: text-bottom;
    padding: 10px;
}

main .whether-info {
    font-weight: 600;
}

main .whether-info .da-real {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

footer {
    text-align: center;
    padding: 20px;
}

footer div {
    background: #333;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

footer h3 {
    color: #F2F2F2;
}

footer p {
    color: #F2F2F2;
    padding: 5px 0;
}

footer a {
    padding: 10px 20px;
    color: #333;
    background-color: #F2F2F2;
    font-weight: 900;
    text-decoration: none;
    border-radius: 5px;
}